<html>
  <head>
    <base target="_blank" />
    <style>
      * {
        margin: 0; padding: 0;
      }
      html,
      body {height: 100%;}
      .bn {
        width: {{dim_x}}px;
        height: {{dim_y}}px;
        margin: 0;
        position: relative;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="bn">
      <a href="#" target="_blank">
      <img src="{{base_uri}}/static/{{banner_name}}" alt="Not Found!" border=0 width={{dim_x}} height={{dim_y}}></a>
    </div>
  </body>
</html>
